.sc-wrap { margin: 0.3em auto 2em; position: relative; background: #ddd; padding: 0.3em; min-width:40ch}
.sc-activate { opacity: 0; position: absolute; z-index: -1; }
.sc-activate:not(:checked) ~ * { overflow:hidden; height:0; padding:0 }
label[for^="sc-activate-"] { display: block; text-align:center; width:70%; background:#ccc; margin:auto; padding:0 }
.sc-del { opacity:0.5; font-size:0.7em;}
.sc-delbtn { opacity:0.5; font-size:0.7em;}
.sc-mv { height: 2em; width: 10%; position: absolute; top: 0; right: 0; cursor:grab;}
.sc-mv:hover { background:#ccc;}
.sc-mvl { left: 0;}
.sc-mute {position:absolute; background:url("lib/images/notify.png"); width:5%; top:0; left:85%; cursor:pointer; opacity:0.5;}
.sc-mute:not(.on):hover, .sc-mute.on {opacity:1;}
.sc-win, .sc-inf { margin-bottom:0; bottom:0; position:fixed; }
.sc-inf { padding:.2em 2ch; right:0; background: #ddd;}
.sc-inf:hover {}
.sc-win { width:0 }
.sc-chatframe { border: 1px solid #666; background:white;  margin: 0 1px 0 0; position:relative; height:50vh; overflow-x: hidden; overflow-y:scroll; }
.sc-resize { height:1.1em; cursor:row-resize;}
/* .sc-chatarea { white-space: pre-wrap; padding: 20px; } */
.sc-chatarea { white-space: pre-wrap; }
.sc-chatarea .vlam {
	color: white;
	-webkit-text-stroke: 1px black;
	text-shadow: 0 1px #000;
  font-size:1.4em;
}

.sc-chatarea .rainbow {color: transparent; font-weight: bold; -webkit-text-stroke:1px #00000020;  background: repeating-linear-gradient(to right, red, orange, yellow , green, cyan, blue 18ch) text; font-size:1.1em;}
.sc-chatarea .rose {color: transparent; font-weight: bold; -webkit-text-stroke:1px #00000020;  background: repeating-linear-gradient(to right, pink, violet, purple 18ch) text;  font-size:1.1em;}
.sc-chatarea .sc-msg  { padding:1%; padding-left:30%; margin: 0; line-height: 1em; }

.sc-chatarea .sc-msg > p { margin: 0; display:inline-block; vertical-align:top;}
/* .sc-chatarea .sc-msg.active > p { border-left:.5ch solid #ccc; } */
.sc-chatarea .sc-msg.active { border:1px solid; }
.sc-chatarea .sc-msg .sc-user { font-weight: bold; margin-left: -42.3%; width:42.3%; display:inline-block; cursor:pointer;}
.sc-chatarea > :not(.sc-info) { border:1px solid transparent; border-bottom: 1px dotted #ccc; }
.sc-chatarea .sc-info{ font-style: italic; color: #999; padding-left: 0; font-size:0.8em; text-align:right; margin:0};
.sc-chatarea .sc-system { margin:0; font-size:0.8em }
/* 
 * .sc-name { position:absolute; top:0; right:0; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; z-index:1; }   
 * .sc-name span { color: #fa9f00; }
 */
.sc-users { display:flex; margin:0; flex-wrap:wrap;}
.sc-users li { padding:0; }
.sc-wrap .sc-users li:not(.sc-hidden) { color: #000; }
.sc-wrap .sc-messagearea { display:flex;}
.sc-wrap .sc-messagearea * { padding: 0.3em; }
.dokuwiki .sc-send { position:relative; width:100% !important; resize:vertical; border: 2px solid #999; font: 12px "Lucida Grande", Sans-Serif;}

.sc-win { z-index: 99;}
.sc-win .sc-chatarea .sc-msg { padding-left:unset; padding:2%; }
.sc-win .sc-chatarea .sc-msg .sc-user { margin-left: 0; width:100%; }

@media (max-width: 640px) {
  .sc-chatarea .sc-msg { padding-left:unset; padding:2%; }
  .sc-chatarea .sc-msg .sc-user { margin-left: 0; width:100%; }
}

.sc-btn { border:none; background:none; float:right; box-shadow: 0 0 1px;}
.sc-btn-rm { color:red; }
.sc-btn-rm:hover { background:red; color:pink;}
