#sc-wrap { margin: 0.3em auto; position: relative; background-color: #ddd; padding: 0.3em;}
#sc-chatframe { border: 1px solid #eee; margin: 0 0 15px 0; }
#sc-chatarea { height: 200px; overflow: auto; border: 1px solid #666; padding: 20px; background:white; }
#sc-chatarea p { padding:2px; padding-left:100px; margin: 0; line-height: 1em; border-bottom: 1px dotted #ccc; }
#sc-chatarea p span { font-weight: bold; margin-left: -100px; display:block; float:left; padding-right: 1em; }
#sc-chatarea .sc-info{ font-style: italic; color: blue; padding-left: 0;  };
#sc-name { position:absolute; top:0; right:0; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; z-index:1; }   
#sc-name span { color: #fa9f00; }
#sc-messagearea { display:flex; }
#sc-messagearea * { padding: 0.3em; }
#sc-send { resize: none; position:relative; width:100%; border: 3px solid #999; font: 12px "Lucida Grande", Sans-Serif; float: right; }
